body {
    background-image: linear-gradient(90deg, #56ab2f, #a8e063);
}

#name{
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
    font-style: italic;
    font-weight: bolder;
}

#navbar a:hover
{
    color: #a8e063;
}

a:hover
{
    color: #a8e063;
}

#dollar{
  text-align: left;
  color:white;
}

.content{
  background-color: #a8e063;
}
  
#text{
    color: white;
}

.twitter-button{
    text-align: center;
    width:50%; /* 70% of the parent*/
    margin:10px auto;
    
}

#centeradiv{
    text-align: left;
    width:50%; /* 50% of the parent div*/
    margin:10px auto;
}

.btn{
    width: 50px;
    height: 50px;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    position: relative;
    min-height: 100vh;
  }

#termynal{
  width:  150%;
  height: 100%;
}

span{
  word-wrap: break-word;
  width: 103%;
}

#course{ /*If I want to add in the future*/
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

#commands{
  color:#a8e063;
}

#footer {
    position: absolute;
    bottom:0;
    width:100%;
    height: 2.5rem/* Height of the footer */
 } 

div.thm_font{
  width: 50%; /*sorry thm badges :(, mobile users*/
}

#github{
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

iframe
{ 
  min-width: 100%; 
  min-height: 100%;
  right: 0; 
  bottom: 0;
  width: auto; 
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

a {
    font-family: 'Times New Roman', Times, serif;
}
